/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #070F2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    z-index: 1000;
}

.logo {
    width: 5%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
    font-family: "Afacad Flux", sans-serif;
}

/* Centering the register box */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

h2 {
    margin: 5% 0;
    color: #000000;
    font-weight: 300;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4cae4c;
}

/* Larger video box and styles for the Go Home button */
#adSection {
    margin-top: 20px;
    text-align: center;
}

#goHomeButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#goHomeButton:hover {
    background-color: #0056b3;
}

/* Advertisement Section Styles */
.hidden {
    display: none;
}
